@font-face {
    font-family: "'Montserrat'";
    src: url(../fonts/Montserrat-Regular.ttf) format(truetype);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "'Montserrat'";
    src: url(../fonts/Montserrat-Regular.ttf) format(truetype);
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "'Montserrat'";
    src: url(../fonts/Montserrat-SemiBold.ttf) format(truetype);
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: "'Montserrat'";
    src: url(../fonts/Montserrat-Bold.ttf) format(truetype);
    font-weight: 700;
    font-display: swap;
}
body {
    font-family: 'Montserrat',  sans-serif;
    background-color:#060E2A;
}

h1 {
    margin: 0 0 30px;
    font-size: 44px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
h2 {
    margin: 0 0 30px;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    color: white;
}
h3 {
    margin: 0 0 16px;
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
    color: white;
    font-weight: 700;
}
h4 {
    margin: 0 0 16px;
    font-size: 28px;
    line-height: 1.2;
    text-align: left;
    color: white;
    font-weight: 700;
    text-align: center;
}
p {
    margin: 20px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #A2A5AF;
}
@media screen and (max-width: 768px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
        margin: 10px 0 10px;
    }
    h3 {
      font-size: 20px;
      text-align: center;
    }
    h4 {
        font-size: 18px;
    }
    p {
        font-size: 14px;
    }
}

/* header */

.header { 
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    background-color: #060E2A;
    box-shadow: 0 0 1px rgba(0,0,0,.32), 0 4px 8px rgba(0,0,0,.24);
    position: fixed;
    top:0;
    z-index: 800;
    
}
.header__nav-sidebar {
    margin-right: 10px;
    width: 64px;
    height: 64px;
    display: flex;
    align-items:center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 8px 0 5px -5px rgba(0,0,0,.32), 8px 0 10px -5px rgba(0,0,0,.24);
    background-color: #161D37;
}
.header__left { 
    display: flex;
    justify-content: flex-start;
    gap:20px;
    align-items:center;
    width: 40%;
    padding: 10px 26px;
}
.header__logo-header { }
.logo {
    cursor: pointer;
 }
.header__logo-nav {
    border-radius: 30px;
    background-color:#252C45;
    height: 32px;
    width: 170px;
}
.header__logo-nav ul {
    display: flex;
    align-items:center;
    justify-content: center;
    gap:10px;
}
.header__logo-nav ul li {
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 12px;
    color:#A2A5AF;
    font-weight: 600;
    height: 32px;
    cursor: pointer;
}
.header__logo-nav ul li svg {
    margin-right: 5px;
}

.header__buttons {
    margin-left: auto;
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap:10px;
    padding: 10px 16px;
 }
 .btn-miss {
    align-items: center;
    background: #5D7CE8;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 16px #433ca7,inset 0 1px 0 hsla(0,0%,100%,.4);
    cursor: pointer;
    display: flex;
    gap: 4px;
    height: 28px;
    padding: 2px 8px
}
.btn-miss a {
    color: white;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.6;
}
.btn-log {
    background-color: inherit;
    border-radius: 20px;
    border: 2px solid white;
    height: 34px;
    padding: 5px 10px;
}
.btn-log a {
    color: white;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.6;
}
.btn-sign {
    background-color: #1DD063;
    border-radius: 20px;
    border:none;
    height: 34px;
    padding: 5px 10px;
}
.btn-sign a {
    color: black;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.6;
}
.mob-logo {
    display: none;
}
@media screen and (max-width: 768px){
    .btn-miss  {
        display: none;
    }
    .header__logo-nav {
        display: none;
    }
    .logo {
        display: none;
    }
    .mob-logo {
        display: block;
    }
    .header__buttons {
        width: 100%;
        justify-content: flex-end;
    }
}
@media screen and (max-width: 423px){
    .btn-log {
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .btn-log a {
        font-size: 10px;
        font-weight: 500;
        line-height: 1;
    }
    .btn-sign {
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .btn-sign a {
        font-size: 10px;
        font-weight: 500;
        line-height: 1;
    }
}

/* nav */
aside {
    width: 64px;
    height: auto;
    position: absolute;
    top:64px;
    left:0;
    z-index: 1000;
    background-color: #161D37;
    box-shadow: 8px 0 5px -5px rgba(0,0,0,.32), 8px 0 10px -5px rgba(0,0,0,.24);
}
.menu {
    position: fixed;
    background-color: #161D37;
    width: 64px;
    height: 100%;
    box-shadow: 8px 0 5px -5px rgba(0,0,0,.32), 8px 0 10px -5px rgba(0,0,0,.24);
    top: 64px;
    left: 0;
    z-index: 1000; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: transform 0.5s ease; 
 }
 @media (max-width: 1280px) {
   .menu {
    display: none;
   }
   aside {
    width: 0px;
  }
}
.menu.close {
    display: none;
}
.menu__img {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 10px;
    cursor: pointer;
 }
.menu__img:hover {
    background-color:#EFF0F1;
    border-radius: 10px;
}
.burgermenu.open {
    left: 0; 
}
.wrapper { 
    display: block;
    position: static;
    z-index: 902;
}
.burgermenu {
    width: 100%;
    height: 100%;
    position: fixed;
    left: -100%; 
    transition:  0.2s; 
    position: fixed;
    top: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    z-index: 903;
    background-color: rgba(22, 22, 23, 0.5); 
    backdrop-filter: blur(10px);
    
 }

 .burger-list {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    gap:10px;
    padding: 10px;
    width: 330px;
    height: 100%;
    background-color:#161D37;
    box-shadow: 8px 0 5px -5px rgba(0,0,0,.32), 8px 0 10px -5px rgba(0,0,0,.24);
    z-index: 900;
 }
 .smart-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:5px;
    background-color:#060E2A;
    padding: 5px;
 }
 .smart-item {
    width: 100%;
    max-width: 146px;
    height: 48px;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    border:none;
    border-radius:8px;
    padding: 4px;
    cursor: pointer;
    background-color:#252C45;
    gap: 8px;
    font-weight: 600;
    font-size: 10px;
    color:white;
 }
 .smart-item-img {
    width: 40px;
 }
.title-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:5px;
}
.title-box__item {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    gap:8px;
    background-color:#252C45;
    height: 40px;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}
.title-box__item p {
    font-size: 14px;
    font-weight: 500;
}
.burger-list__button {
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #069815;
    border: none;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600px;
    color:white;
    gap: 9px;
    border-radius: 20px;
    padding: 11px 17px;
    margin-top: 20px;
}

main {
   width: 100%;
   max-width: 1440px;
   padding-left: 70px;
   margin: 0 auto;
   overflow: hidden;
}
@media screen and (max-width: 1280px){
    main {
        padding: 0;
        margin: 0;
    }
} 
.banner {
    margin: 100px auto 10px;
    padding: 130px 30px; 
    width: 100%;
    max-width: 1368px; 
    height: 500px;
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
}
.banner__box {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}
.banner__box-title {
    font-size: 30px;
    color: white;
    font-weight: 700;
 }
.banner__box-h1 {
    font-size: 109px;
    color: #E4C609;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
 }
.banner__box-content { 
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 1.4;
    color: #E4C609;
    font-weight: 700;
    text-align: center;
}
.banner__box-btn { 
    display: flex;
    justify-content: center;
    align-items:center;
}
.banner-btn {
    padding: 10px 40px;
    margin-bottom: 10px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    font-size: 18px;
    line-height: 24px;
    background-color:#1DD063;
    border:none;
    border-radius: 40px;
    color: black;
    font-weight: 700;
    font-size: 18px;
    transition: 0.3s ease;
}
.banner-btn:hover {
    transform: scale(1.2);
}
.banner-btn span {
    font-weight: 500;
    font-size: 10px;
}
.background {
    position: absolute;
    top:-10px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    width: 100%;
    max-width: 1360px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}
@media (max-width: 1280px) {
    .banner {
        /* margin: 10px; */
        padding: 0 30px; 
        background-size:100%;
        background-position: center;
        width: 100%;
        height: 500px;
        background-position: top;
        align-items:center;
        padding: 20px;
    }
    .banner__box {
        padding: 0;
    }
    .banner__box-h1 {
        font-size: 50px;
    }
    .banner__box-content { 
        margin-bottom: 12px;
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    .banner {
        height: 800px;
        margin-top:40px;
        align-items:flex-end;
        padding: 20px;
    }
    .background {
        top: 20px;
        background-repeat:no-repeat;
    }
    .banner__box {
        padding: 0;
    }
    .banner__box-h1 {
        font-size: 50px;
     }
    .banner__box-content { 
        margin-bottom: 12px;
        font-size: 18px;
    }
}
@media (max-width: 468px) {
    .banner {
        height: 400px;
        margin: 70px 0px 5px 0px;
        align-items:flex-end;
        padding: 30px;
    }
    .banner__box {
        padding: 0;
    }
    .banner__box-title {
        font-size: 14px;
        font-weight: 700;
        text-align: center;
     }
    .banner__box-h1 {
        font-size: 50px;
     }
    .banner__box-content { 
        margin-bottom: 12px;
        font-size: 18px;
    }
}

/* atr */
.atr {
    display: flex;
    flex-direction: column;
    margin: 0px auto 10px;
    width: 100%;
    max-width: 1368px;
}
.atr__welcome {
    display: flex;
    justify-content: center;
    align-items:center;
    gap:30px;
}
.atr__welcome-info span  {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap:5px;
    font-size: 10px;
    color: #A2A5AF;
    margin-bottom: 8px;
    font-weight: 700;
}
.atr__welcome-info {
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    font-weight: 700;
    color:white;
}
.pay {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    overflow-x: auto;
    margin: 20px auto 10px;
    width: 100%;
    max-width: 1368px;
}
.pay img {
    width: 72px;
    height: 48px;
}

/* slot */

.slot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto 10px;
    width: 100%;
    max-width: 1368px;
    overflow: hidden;
}
.slot__box { 
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    
}
.slot__item { 
    display: flex;
    flex-direction: column;
    background-color:inherit;
    position: relative;
    border-radius:20px;
}
.slot__item-img {
    width: 100%;
    max-width: 251px;
    height: 251px;
}
@media screen and(max-width:768px) {
    .margin {
        margin-left: 10px;
    }
}
.slot__items {
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    justify-content: center;
    margin-top: 30px;
    overflow: hidden;
 }
.slot__item-img {
    width: 251px;
    transition: 0.4s ease;
    border-radius:10px;
}
.slot__item-content {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    color: #060E2A;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    gap:10px;
    text-align: left;
}
.slot__item-content span {
    color: #737787;
    font-size: 12px;
    font-weight: 500;
}

.slot-btn {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px 20px;
}

@media screen and (max-width: 768px) {
    .slot {
        width: 100%;
        padding: 0;
    }
    .slot__box {
        padding-left: 0;
    }
}
@media screen and (max-width: 768px) {
    .slot__box {
        padding-left: 0;
    }
    .atr__welcome {
        padding-left: 0;
    }
}

/* text */

.text { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto 10px;
    width: 100%;
    max-width: 1368px;
    padding: 40px 40px 40px 40px;
    overflow: hidden;
    background-color:#161D37;
    border-radius: 20px;
}
.about-section {
    margin-top: 80px;
}
@media screen and (max-width: 1280px){
    .text.about-section {
        margin-top: 70px;
    }
}
.text-table {
    display: flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 30px;
}
/* table */
.table-wrapper {
    width: 100%;
    overflow-x: auto; 
  }
  
  table {
    width: 100%; 
    border-collapse: collapse; 
    min-width: 600px; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: white;
  }
  
  td {
    border: none; 
    padding: 20px; 
    white-space: nowrap; 
    border: 2px solid #161D37;
    
  }
  tr {
    background-color: #353B52; 
    border: 2px solid #161D37;
  }
  @media (max-width: 1280px) {
    .table-wrapper {
      width: 100%;
    }
  }
  @media (max-width: 600px) {
    .table-wrapper {
      border: 1px solid #ddd; 
      width: 100%;
    }
  }

@media screen and (max-width: 1280px) {
    .text { 
        padding: 10px;
        width: 100%;
    }
}

.slot-second {
    margin: 0px auto 10px;
    width: 100%;
    max-width: 1368px;
    padding-top: 70px;
    overflow: hidden;
    margin-bottom: 50px;
    
 }
.slot-second__box {
    display: flex;
    flex-wrap: wrap;
    gap:8px;
    justify-content: space-around;

 }
.slot-second__item {
    border-radius: 20px;
    max-width: 150px;
    width: 100%;
    position: relative;
 }

 .slot-second__item img {
    border-radius: 20px;
    width: 100%;
    height: auto;
 }
.slot-second__item p {
    position: absolute;
    top: 3%;
    left: 5%;
    color: black;
    font-weight: 600;
    font-size: 12px;
}

@media screen and (max-width: 1280px){
    .slot-second {
        padding: 30px 10px 10px 10px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 460px){
    .slot-second {
        margin: 0;
        padding: 10px;
        width: 99%;
        display: flex;
        justify-content: center;
    }
    .slot-second__box {
        gap:10px;
     }
}



/* footer */

.footer {
    width: 100%;
    max-width: 1440px;
    padding-left: 70px;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.footer__bottom {
    display: flex;
    justify-content: flex-start;
    gap:40px;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0px auto 10px;
    width: 100%;
    max-width: 1368px;
}
.footer-link {
    display: grid;
    grid-template-rows: repeat(4, 1fr); 
    grid-template-columns: repeat(4, 200px); 
    grid-gap: 14px; 
    align-items: start; 
    margin-left: auto;
}
.footer-link a {
    font-size: 12px;
    font-weight: 600;
    color: #9296A2;
    width: 100%;
}
.link p {
    color: #161D37;
    font-size: 14px;
    font-weight: 700;
}
.icon button {
    background-color: #63687A;
    border-radius: 50%;
    border:none;
    width: 30px;
    height: 30px;
}
.footer__top {
    overflow: hidden;
    margin: 0px auto 10px;
    width: 100%;
    max-width: 1368px;
    margin-top: 20px;
    padding-top: 30px;
}
.footer__top-img {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    padding-right: 10px;
    overflow: hidden;
}
.app  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.app div {
    display: flex;
    align-items: center;
}
.app div p {
    margin: 0;
    font-size: 12px;
    color: #161D37;
    font-size: 14px;
    font-weight: 700;
}
.copy {
    color: #63687a;
    font-size: 12px;
    margin-bottom: 20px;
    font-weight: 600;
}
.copy a {
    color: #63687a;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
}
hr {
    width: 100%;
    border: none; 
    height: 1px; 
    background-color: #63687a; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    opacity: 0.1;
}

@media screen and (max-width: 1280px){
    .footer {
        padding-left: 5px;
        width: 100%;
        margin: 0;
    }
    .footer__bottom {
        margin-top: 40px;
        gap: 20px;
    }
    .footer-link {
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: repeat(2, 200px);
        order:3;
       
    }
    .footer__top {
        width: 100%;
    }
   
}
@media screen and (max-width: 470px){
    .footer {
        padding-left: 5px;
        width: 100%;
        margin: 0;
    }
    .footer__bottom {
        margin-top: 40px;
        gap: 20px;
    }
    .footer-link {
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: repeat(2, 200px);
        order:3;
       
    }
    .footer__top {
        width: 100%;
    }
   
}